Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
Setup/Setup/Express/SingleImage/LogFiles/error
Setup\Setup\Express\SingleImage\LogFiles*/
*.htm
Setup/Setup/Express/SingleImage/LogFiles/12-13-2012 12-37-56 PM.txt