<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Alternity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Alternity.Properties.Settings>
      <setting name="MainLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ClientSize" serializeAs="String">
        <value>570, 402</value>
      </setting>
      <setting name="RollerLocation" serializeAs="String">
        <value>12, 190</value>
      </setting>
    </Alternity.Properties.Settings>
  </userSettings>

</configuration>
